{% extends 'portapp/base.html' %}
{% load static %}
{% block content %}
        
		<h1 style="font-family: 'Arail' cursive;">OUR TEAM</h1>
	
		<div class=" mx-auto pt-5 row" >
			<div class="mx-auto col-sm-3">
				<div >
			      <img src="{% static 'portapp/ola.png' %}" class="img-thumbnail" alt="Cinque Terre" width="250px" height="250px;">
			     </div>
			     <div style="color:black;">
			     	<h3>Ajayi Olamide</h3>
			     	<h4>Software developer</h4>
			     	<p>4th Year Student Of Agriculture of University of Ilorin, Kwara State. </p>
                    <p> Full stack developer</p>
                    <h5> Skill </h5>
                    <p> HTML-5, Css, Javascript, Python, Django, MySQL, RestApi, Linux, Bootstrap and tech innovation</p>
			     </div>
			     <div class="float-left">
			     	<a target="_blank" href="https://twitter.com/horlamiedea" ><img src="{% static 'portapp/tw.png' %}" alt="twitter" width="50px" height="50px"></a>

			     </div>
			     <div class="float-left" style="margin-left: 20px;">
			     	<a target="_blank" href="https://www.instagram.com/richmon.dd/" ><img src="{% static 'portapp/ig.png' %}" alt="twitter" width="50px" height="50px"></a>
			     </div>
			</div>
			<div class="mx-auto col-sm-3">
				<div >
			      <img src="{% static 'portapp/ebun.png' %}" class="img-thumbnail"   alt="Cinque Terre" width="250px" height="250px;">
			     </div>
			     <div style="color:black;" >
			     	<h3>Omosebi Ebunoluwa</h3>
			     	<h4>Front-end developer</h4>
				<p>4th year student of computer science student of Federal university of Agriculture Abeokuta</p>
                
                    <h5> Skill </h5>
                    <p> HTML-5, Css, Javascript, Bootstrap, WordPress, Tech-innovation</p>
			     </div>
			     <div class="float-left">
			     	<a target="_blank" href="https://twitter.com/Ebunolu73466508"><img src="{% static 'portapp/tw.png' %}" alt="twitter" width="50px" height="50px"></a>

			     </div>
			     <div class="float-left" style="margin-left: 20px;">
			     	<a target="_blank" href="https://www.instagram.com/ebunoluwaomosebi/" ><img src="{% static 'portapp/ig.png' %}" alt="twitter" width="50px" height="50px"></a>

			     </div>
			</div>
			<div class=" mx-auto col-sm-3">
				<div >
			      <img src="{% static 'portapp/tobi.png' %}" class="img-thumbnail"  alt="Cinque Terre" width="250px" height="250px;">
			     </div>
			     <div style="color:black; " >
			     	<h3>Oluwatobiju Akinla</h3>
			     	<h4>Front-end developer</h4>
			     	<p>4th Year Student Of Agriculture of University of Ilorin, Kwara State. </p>
                    
                    <h5> Skill </h5>
                    <p> HTML-5, Css, Javascript, Bootstrap and tech innovation</p>
			     </div>
			     <div class="float-left">
			     	<a target="_blank" href="https://twitter.com/oluwatobiju_a" ><img src="{% static 'portapp/tw.png' %}" alt="twitter" width="50px" height="50px"></a>

			     </div>
			     <div class="float-left" style="margin-left: 20px;">
			     	<a target="_blank" href="https://www.instagram.com/oluwatobiju_a/" ><img src="{% static 'portapp/ig.png' %}" alt="twitter" width="50px" height="50px"></a>

			     </div>
			     	
			    
				
			</div>

			
			
		</div>
	

</body>
</html>
{% endblock content %}