{% extends 'portapp/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'portapp/thanks.css' %}">
<div id="wrapper" class="animated zoomIn">
  <!-- We make a wrap around all of the content so that we can simply animate all of the content at the same time. I wanted a zoomIn effect and instead of placing the same class on all tags, I wrapped them into one div! -->
<h1>
  <!-- The <h1> tag is the reason why the text is big! -->
  <underline>Thank you!</underline>
  <!-- The underline makes a border on the top and on the bottom of the text -->
</h1>
<h3>
  For being such an awesome person. We promise to get back to you ASAP. 
  <!-- The <h3> take is the description text which appear under the <h1> tag. It's there so you can display some nice message to your visitors! -->
</h3>
</div>
  <script src="{% static 'portapp/thanks.js' %}"></script>


{% endblock content %}